.dscar-card-feedback {
    width: 100%;
    padding: 25px 20px;
    margin-top: 25px;
    background-color: var(--dscar-color-card-bg-secondary);
    border: 1px solid var(--dscar-color-card-border-primary);
    border-radius: 10px;
}

.dscar-feedback-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--dscar-color-font-secondary);
}