#dscar-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dscar-content {
    width: 100%;
    margin: 25px 20px;
    display: grid;
    justify-content: center;
    text-align: center;
}

.dscar-title {
    color: var(--dscar-color-font-primary);
    font-size: 20px;
}

@media (min-width: 1280px){
    .dscar-title {
        font-size: 32px;
    }
}

.dscar-painel-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260,1fr));
    grid-gap: 20px;
}