#dscar-container {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

.dscar-content {
    width: 100%;
    margin: 25px 20px;
    display: grid;
    justify-content: center;
    text-align: center;
}

.dscar-title {
    color: var(--dscar-color-font-primary);
    font-size: 20px;
}

@media (min-width: 1280px) {
    .dscar-title {
        font-size: 32px;
    }
}

.dscar-painel-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260, 1fr));
    grid-gap: 20px;
}

.dscar-container-feedback {
    width: 100%;
    margin: 0;
    padding: 25px 20px;
    background-color: var(--dscar-color-bg-feedback);
}

.dscar-feedback-title {
    font-size: 20px;
    color: var(--dscar-color-font-primary);
    text-align: center;
    font-weight: 700;
}

@media (min-width: 1280px) {
    .dscar-container-feedback {
        padding: 25px 120px;
    }
    .dscar-feedback-title {
        font-size: 32px;
    }
}